extends ./_layout/_page.pug

block vars
  -
    var page = pages.index;

block content
  form(
    id = "vue-form",
    class = "p-vue-form",
    action = "sendmail.php",
  )
    h1.p-vue-form__head
      |vue-form
    .p-vue-form__contents
      .p-vue-form__item
        .p-vue-form__item-head
          |input text
        .p-vue-form__item-body
          input(type="text", value="", placeholder="input text").p-vue-form__input
      .p-vue-form__item
        .p-vue-form__item-head
          |input mail
        .p-vue-form__item-body
          input(type="mail", value="", placeholder="input mail").p-vue-form__input
      .p-vue-form__item
        .p-vue-form__item-head
          |radio button
        .p-vue-form__item-body
          .p-vue-form__label-wrap
            label
              input(type="radio", name="radio" value="Radio A").p-vue-form__radio
              |Radio A
            label
              input(type="radio", name="radio", value="Radio B").p-vue-form__radio
              |Radio B
            label
              input(type="radio", name="radio", value="Radio C").p-vue-form__radio
              |Radio C
      .p-vue-form__item
        .p-vue-form__item-head
          |checkbox
        .p-vue-form__item-body
          .p-vue-form__label-wrap
            label
              input(type="checkbox", value="Checkbox A").p-vue-form__checkbox
              |Checkbox A
            label
              input(type="checkbox", value="Checkbox B").p-vue-form__checkbox
              |Checkbox B
            label
              input(type="checkbox", value="Checkbox C").p-vue-form__checkbox
              |Checkbox C
      .p-vue-form__item
        .p-vue-form__item-head
          |select
        .p-vue-form__item-body
          select
            option(value="Select A")
              |Select A
            option(value="Select B")
              |Select B
            option(value="Select C")
              |Select C
      .p-vue-form__item
        .p-vue-form__item-head
          |attachment
        .p-vue-form__item-body
          input(type="file", value="")
      .p-vue-form__item
        .p-vue-form__item-head
          |multi column text
        .p-vue-form__item-body
          textarea(name="", cols="60", rows="8").p-vue-form__textarea
    .p-vue-form__submit
      .p-vue-form__submit-wrap
        input(type="submit", value="Confirm input content").p-vue-form__button.p-vue-form__button--submit
      .p-vue-form__submit-wrap
        input(type="submit", value="Back").p-vue-form__button.p-vue-form__button--utility
        input(type="submit", value="Submit").p-vue-form__button.p-vue-form__button--submit
