.p-vue-form {
  max-width: 800px;
  margin: 100px auto;
  @include fontSize(14);
  &__head {
    margin: 0 0 5rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.14em;
    @include fontSize(32);
  }
  &__item {
    display: flex;
    border-bottom: 1px solid #ddd;
    &-head {
      width: 30%;
      box-sizing: border-box;
      padding: 1rem 0;
    }
    &-body {
      width: 70%;
      padding: 1rem 0;
    }
    &-inner {
      padding: 0.75rem 0;
    }
  }
  &__input {
    width: 100%;
    appearance: none;
    box-sizing: border-box;
    display: block;
    margin: -0.75rem 0;
    padding: 0.75rem 1rem;
    border: 1px solid #aaa;
    @include fontSize(14);
  }
  &__textarea {
    width: 100%;
    appearance: none;
    box-sizing: border-box;
    display: block;
    margin: -0.75rem 0;
    padding: 0.75rem 1rem;
    border: 1px solid #aaa;
    @include fontSize(14);
  }
  &__radio {
    vertical-align: middle;
    margin-right: 0.5rem;
  }
  &__checkbox {
    vertical-align: middle;
    margin-right: 0.5rem;
  }
  &__label-wrap {
    display: flex;
    label {
      display: block;
      margin-right: 2rem;
    }
  }
  &__error {
    color: #d33;
    font-weight: 700;
    &--next-input {
      margin-top: 0.5rem;
    }
  }
  &__confirm {
    white-space: pre-wrap;
    &-item {
      display: inline-block;
      &:after {
        content: '/';
        margin: 0 1rem;
      }
      &:last-of-type {
        &:after {
          display: none;
        }
      }
    }
  }
  &__complete {
    margin: 8rem 0 4rem;
    @include fontSize(16);
    text-align: center;
    letter-spacing: 0.16em;
  }
  &__button {
    appearance: none;
    margin: 0 10px;
    padding: 1.2rem 3rem;
    border: 0;
    border-radius: 4px;
    letter-spacing: 0.1rem;
    &--submit {
      color: #fff;
      background-color: #69c592;
    }
    &--utility {
      color: #fff;
      background-color: #aaa;
    }
  }
  &__submit-error {
    color: #d33;
    font-weight: 700;
    text-align: center;
  }
}
